{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "engine": true,
    "gameData": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "no-console": "off",
    "no-plusplus": "off",
    "prefer-const": "off",
    "arrow-parens": "off"
  }
}
